<!doctype html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <meta property="og:url" content="https://portfolio-7d273.web.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="FaBomb Portfolio" />
        <meta property="og:description" content="This is FaBomb's Portfolio site, created by Wasm and Rust." />
        <meta property="og:site_name" content="FaBomb" />
        <meta property="og:image" content="https://portfolio-7d273.web.app/images/logo-full.png" />
        <link rel="icon" type="image/png" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/logo-full.png"/>
        <title>FaBomb</title>
        <base href="/">
        <script src="https://kit.fontawesome.com/ece61d8771.js" crossorigin="anonymous"></script>
        <%= scripts %>
        <script>
            (function(d) {
              var config = {
                kitId: 'jlk6dat',
                scriptTimeout: 3000,
                async: true
              },
              h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
        <p>
          <noscript style="color: red;">このブラウザでは利用できません。JavaScriptを有効化してください。</noscript>
          <span id="wasm-unsupported" style="color: red; display: none;">このブラウザでは利用できません。WebAssemblyに対応しているブラウザをご利用ください。</span>
          <span id="wasm-supported" style="display: none;">
            <svg width="135" height="135" viewBox="0 0 135 135" xmlns="http://www.w3.org/2000/svg" fill="#5086a5">
              <path d="M67.447 58c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10zm9.448 9.447c0 5.523 4.477 10 10 10 5.522 0 10-4.477 10-10s-4.478-10-10-10c-5.523 0-10 4.477-10 10zm-9.448 9.448c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10s10-4.478 10-10c0-5.523-4.477-10-10-10zM58 67.447c0-5.523-4.477-10-10-10s-10 4.477-10 10 4.477 10 10 10 10-4.477 10-10z">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 67 67"
                      to="-360 67 67"
                      dur="2.5s"
                      repeatCount="indefinite"/>
              </path>
              <path d="M28.19 40.31c6.627 0 12-5.374 12-12 0-6.628-5.373-12-12-12-6.628 0-12 5.372-12 12 0 6.626 5.372 12 12 12zm30.72-19.825c4.686 4.687 12.284 4.687 16.97 0 4.686-4.686 4.686-12.284 0-16.97-4.686-4.687-12.284-4.687-16.97 0-4.687 4.686-4.687 12.284 0 16.97zm35.74 7.705c0 6.627 5.37 12 12 12 6.626 0 12-5.373 12-12 0-6.628-5.374-12-12-12-6.63 0-12 5.372-12 12zm19.822 30.72c-4.686 4.686-4.686 12.284 0 16.97 4.687 4.686 12.285 4.686 16.97 0 4.687-4.686 4.687-12.284 0-16.97-4.685-4.687-12.283-4.687-16.97 0zm-7.704 35.74c-6.627 0-12 5.37-12 12 0 6.626 5.373 12 12 12s12-5.374 12-12c0-6.63-5.373-12-12-12zm-30.72 19.822c-4.686-4.686-12.284-4.686-16.97 0-4.686 4.687-4.686 12.285 0 16.97 4.686 4.687 12.284 4.687 16.97 0 4.687-4.685 4.687-12.283 0-16.97zm-35.74-7.704c0-6.627-5.372-12-12-12-6.626 0-12 5.373-12 12s5.374 12 12 12c6.628 0 12-5.373 12-12zm-19.823-30.72c4.687-4.686 4.687-12.284 0-16.97-4.686-4.686-12.284-4.686-16.97 0-4.687 4.686-4.687 12.284 0 16.97 4.686 4.687 12.284 4.687 16.97 0z">
                  <animateTransform
                      attributeName="transform"
                      type="rotate"
                      from="0 67 67"
                      to="360 67 67"
                      dur="8s"
                      repeatCount="indefinite"/>
              </path>
          </svg>
          </span>
        </p>
        <script>
            if (typeof WebAssembly !== 'object') {
                document.getElementById("wasm-unsupported").style.display = "inline";
            } else {
                document.getElementById("wasm-supported").style.display = "inline";
            }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0TXZ1SH3H"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-Q0TXZ1SH3H');
        </script>
    </head>
    <body></body>
</html>