@import url(https://fonts.googleapis.com/css?family=Montserrat);

$background:rgb(240, 239, 239);
$header_color:rgb(236, 236, 236);
$footer_color:rgb(82, 82, 82);
$body_font_color:#353739;
$light_color:#6c757d;
$sub_light_color:#b4b4b4;
$border_color:#ccc;
$pale_light_color: #f5f5f5;

$contrast_font_color:rgb(240, 239, 239);
$a_color:#4183c4;
$border_line_color:#333;
$contrast_color:#e4ded2;
$highlight_color: #e3e3e3;
$milk_color: #faf8f0;
$accent_color: #5086a5;
$sub_accent_color: #879fad;

$header_height: 8rem;
$mobile_header_height: 9rem;
$icon_width: 4rem;
$footer_height: 14rem;
$preview_margin_top: 2.2em;
$preview_margin_bottom: 2.4rem;

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    background: $sub_light_color;
    border-radius:5px;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: $accent_color;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}
a:hover::after {
    transform: scale(1, 1);
}

.small-text {
    font-size: 80%;
    font-weight: bold;
    color: $light_color;
}

.profile, .article{
    width: 100%;
    margin: 6rem 0 12rem 0;
    text-align: center;
    h1 {
        text-transform: capitalize;
    }
    .small-text {
        margin-top: .25rem;
        margin-bottom: 1rem;
    }
}


.profile {
    img {
        border: 6px solid $sub_accent_color;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    .p-detail {
        display: flex;
        justify-content: center;
        text-align: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
    h2 {
        margin-top: 4rem;
    }
    h3 {
        margin: 2rem 0;
        color: $accent_color;
        text-align: left;
        display: flex;
        justify-content: center;
        line-height: 1.5;
    }
    .about {
        display: inline-flex;
        line-height: 2.5rem;
        margin-top: 4rem;
        width: 60%;
        justify-content: space-around;
        a {
            display: flex;
            flex-flow: column;
            font-weight: bold;
            color: $light_color;
            i {
                font-size: 6rem;
                margin-bottom: .5rem;
            }
        }
        a:hover {
            opacity: 80%;
            transition: .4s;
        }
        a::after {
            background-color: $light_color;
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: $light_color;
    margin-top: 4rem;
    .current_page {
        color: white;
        background-color: $accent_color;
        border-radius: 50%;
        pointer-events: none;
    }
    li {
        cursor: pointer;
        margin: 0 .5rem;
        background-color: $highlight_color;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
    }
    li:hover {
        transition: .4s;
        background-color: $sub_accent_color;
        color: white;
    }
    .allow {
        transform: scale(0.7, 1.4);
    }
}

.cards {
    max-width: 800px;
    width: 90%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
    .card {
        width: 350px;
        margin: .8rem .5rem;
        display: flex;
        flex-flow: column;
        text-align: left;
        time {
            margin-top: .75rem;
        }
        img {
            height: 200px;
            object-fit: cover;
            border-radius: .5rem;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            cursor: pointer;
        }
        img:hover {
            opacity: 80%;
            box-shadow: none;
            transition: .6s;
        }
        h2 {
            position: relative;
            display: inline-block;
            color: $light_color;
            margin-top: .25rem;
            line-height: 1.2;
            cursor: pointer;
        }
        h2::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: $light_color;
            transform: scale(0, 1);
            transform-origin: center top;
            transition: transform .3s;
        }
        h2:hover::after {
            transform: scale(1, 1);
        }
        h2:hover {
            opacity: 80%;
            transition: .4s;
        }
        .card-buttons {
            display: flex;
            margin: 1rem 0 2rem 0;
            button {
                background-color: $accent_color;
                color: white;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
                border-radius: .5em;
                margin-right: 1rem;
                padding: .5rem .8rem;
            }
            button:hover {
                transition: .4s;
                box-shadow: none;
                opacity: .8;
            }
        }
        .small-text {
            margin-bottom: 0rem;
        }
    }
}

.home-ex {
    width: 100%;
    padding: 5rem 0;
    font-weight: 200;
    line-height: 2rem;
    background-color: $highlight_color;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .ex-me {
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            background-color: $accent_color;
            color: $contrast_font_color;
            width: 8rem;
            height: 8rem;
            font-size: 2rem;
            border-radius: 50%;
            letter-spacing: .25rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h3 {
            color: #6c757d;
            font-size: 2rem;
            font-weight: bold;
            margin: 0 .5rem;
        }
        h2:nth-child(3) {
            background-color: $sub_accent_color;
        }
    }
    .ex-detail {
        width: 40%;
        min-width: 20rem;
        margin-top: 2rem;
        text-align: left;
        letter-spacing: .1rem;
    }
}

.home-blog, .home-work, .home-profile {
    margin-bottom: 8rem;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .cards {
        .card {
            .card-buttons {
                display: none;
            }
        }
    }
    a {
        color: $accent_color;
        margin-bottom: .5rem;
        margin-top: 4rem;
    }
    .sub-text {
        margin-bottom: 2rem;
    }
}

.home-blog {
    padding-bottom: 8rem;
    margin-bottom: 0;
    background-color: $highlight_color;
}

.profile-box {
    text-align: left;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2.4rem;
    img {
        border: 6px solid $sub_accent_color;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    dt {
        font-weight: bold;
        float: left;
        margin-left: 3rem;
    }
    dd {
        margin-left: 10rem;
    }
}

body{
    min-height: 100vh;
    position: relative;
    padding-top: $header_height;
    padding-bottom: $footer_height;
    box-sizing: border-box;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: dnp-shuei-gothic-gin-std, Montserrat, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    background: $background;
    color: $body_font_color;
    letter-spacing: .05rem;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
h2 {
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
h4, h5 {
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 0.08em;
}
p, ol, li {
    line-height: 1.9;
}
a {
    color: $a_color;
}
button, input {
    -webkit-appearance: button;
}
.content-box h1, .content-box h2, .content-box h3, .content-box h4, .content-box h5, 
.content-box p, .content-box table, .content-box ol, .content-box ul, .content-box pre {
    margin-top: $preview_margin_top;
    margin-bottom: $preview_margin_bottom;
}

footer, header {
    img {
        width: $icon_width;
        margin-right: .25rem;
    }
    .logo-box {
        line-height: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $header_color;
    color: $body_font_color;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    height: $header_height;
    nav {
        height: 100%;
        button {
            height: 100%;
            text-decoration: none;
            color: $body_font_color;
            padding: 0 2rem;
        }
        button:hover {
            background-color: $highlight_color;
            transition: .4s;
        }
    }
    .logo-box {
        cursor: pointer;
    }
}

footer {
    width: 100%;
    height: $footer_height;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: $sub_accent_color;
    color: $contrast_font_color;
    .logo-box {
        img {
            margin-bottom: .5rem;
        }
        display: inline;
        .small-text {
            color: $contrast_font_color;
        }
    }
    a {
        color: $contrast_font_color;
    }
    a::after {
        background-color: $contrast_font_color;
        bottom: .25rem;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        line-height: 2.5rem;
    }
}

.content-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img, video {
        max-width: 100%;
    }
    p {
        width: 100%;
    }
    blockquote {
        border-left: 5px solid #ddd;
        color: #777;
        padding: 1em;
        padding-right: 0;
        margin: 1.5em 0;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    h1 {
        border-top: 2px solid $accent_color;
        border-bottom: 2px solid $accent_color;
        width: 100%;
        padding: 6px 0;
        color: $accent_color;
    }
    h2 {
        border-bottom: 2px solid $accent_color;
        padding-bottom: 6px;
        color: $accent_color;
        width: 100%;
    }
    del {
        color: $sub_light_color;
    }
    table {
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        th {
            background-color: $pale_light_color;
        }
        th, td {
            border: 1px solid $border_color;
            padding: 1rem 2rem;
            /*word-break: break-all;*/
            overflow-wrap : break-word;
        }
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;	
        width: 100%;
        border: 1px solid $border_color;
        border-bottom: none;
        dt {
            background: $pale_light_color;
            padding: 5px;
            width: 150px;
            border-right: 1px solid $border_color;
            border-bottom: 1px solid $border_color;
        }
        dd {
            padding: 5px;
            width: calc(100% - 150px);
            border-bottom: 1px solid $border_color;
        }
    }
    a::after {
        bottom: .2rem;
    }
    pre {
        background-color: #364549;
        color: $contrast_font_color;
        padding: 2rem 2rem;
    }
    code {
        background-color: #364549;
        color: $contrast_font_color;
        padding: .6rem 1rem;
    }
    hr {
        height: 5px;
        background-color: $accent_color;
        width: 100%;
        border: none;
    }
    ul {
        font-size: 1.2em;
        ul, p {
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1em;
        }
    }
    ol {
        counter-reset: item;
        font-size: 1.2em;
        ol, p {
            padding-left: 1em;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1em;
        }
        li {
            text-indent: -1.3em;
            padding-left: 1.3em;
        }
        li:before {
            counter-increment: item;
            content: counter(item)'.';
            padding-right: .5em;
            font-weight: bold;
            color: $footer_color;
        }
    }
    strong {
        color: $accent_color;
    }
}

.view {
    display: inline;
    background-color: white;
    padding: 4rem 4% 8rem 4%;
    width: 60%;
    max-width: 800px;
    margin: 8rem 0 12rem 0;
    .title-box {
        .thumbnail {
            width: 100%;
            // height: 20rem;
            object-fit: cover;
        }
        h1 {
            text-align: center;
            padding: 0 6rem;
            margin-bottom: 3rem;
            line-height: 1.4;
        }
        .small-text {
            color: $sub_light_color;
            font-weight: normal;
            text-align: center;
            margin-bottom: .5rem;
            i {
                margin-right: .25rem;
            }
        }
        ul {
            display: flex;
            margin-top: 1rem;
            li {
                cursor: pointer;
                padding: .2rem .8rem;
                color: $sub_accent_color;
                border: $sub_accent_color 1px solid;
                margin-right: 1rem;
                border-radius: 3px;
            }
            li:hover {
                background-color: $sub_accent_color;
                color: white;
                transition: .4s;
            }
        }
    }
    .content-box {
        width: 100%;
        display: inline;
        table {
            width: 100%;
        }
        ul {
            li:before {
                content: "";
                width: .5rem;
                height: .5rem;
                display: inline-block;
                background-color: $light_color;
                border-radius: 50%;
                position:  relative;
                top: -.1rem;
                margin-right: .5rem;    
            }
        }
    }
}
.article-edit {
    width: 100%;
    margin: 4rem 0 8rem 0;
    text-align: center;
    h1 {
        text-transform: capitalize;
        margin-bottom: 2rem;
    }
    .support-tools {
        width: 50%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        
        .image-upload label, button  {
            background-color: $accent_color;
            color: white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            border-radius: .5em;
            padding: .5rem .8rem;
            cursor: pointer;
        }
        .image-upload label:hover, button:hover {
            transition: .4s;
            box-shadow: none;
            opacity: .8;
        }
        .image-upload {
            margin-bottom: 2rem;
        }
        .select-box {
            .works-edit {
                display: none;
            }
            .choose-select {
                display: flex;
                justify-content: center;
                align-items: center;
                .selecter {
                    width: 18rem;
                    margin-right: 1rem;
                    position: relative;
                    border: 2px solid $border_color;
                    border-radius: .5rem;
                    select {
                        width: 100%;
                        padding: 8px 38px 8px 8px;
                        cursor: pointer;
                        text-indent: 0.01px;
                        text-overflow: ellipsis;
                        border: none;
                        outline: none;
                        background: transparent;
                        background-image: none;
                        box-shadow: none;
                        -webkit-appearance: none;
                        appearance: none;
                    }
                    select::-ms-expand {
                        display: none;
                    }
                }
                .selecter:before {
                    position: absolute;
                    top: 0.8em;
                    right: 0.9em;
                    width: 0;
                    height: 0;
                    padding: 0;
                    content: '';
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $sub_light_color;
                    pointer-events: none;
                }
                button {
                    border-radius: 50%;
                    padding: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                }
            }
            .add-select {
                margin-bottom: .5rem;
                button {
                    border-radius: 50%;
                    padding: 0;
                    width: 1.6rem;
                    height: 1.6rem;
                }
                input {
                    text-align: left;
                    width: 18rem;
                    padding: .5rem .8rem;
                    margin-right: 1rem;
                    border-radius: .5em;
                    border: 2px solid $border_color;
                    box-sizing: border-box;
                }
                input:focus {
                    border: 2px solid $accent_color;
                    z-index: 10;
                    outline: 0;
                }
            }
        }
        .title-area {
            width: 100%;
            margin-bottom: 4rem;
            border-radius: .5em;
            text-align: left;
            border: 2px $border_color solid;
            padding: 1rem 2rem;
            outline: none;
            resize: none;
        }
        textarea:focus {
            border: 2px solid $accent_color;
            z-index: 10;
            outline: 0;
        }
        h3 {
            margin: 1rem 0;
        }
    }
    input[type="file"] {
        display: none;
    }
    .markdown {
        width: 100%;
        margin-bottom: 4rem;
        height: 50rem;
        display: flex;
        justify-content: space-around;
        .editor {
            width: 48%;
            max-width: 800px;
            min-width: 400px;
            padding-top: 2rem;
            border: 2px $border_color solid;
            label  {
                background-color: $accent_color;
                color: white;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
                border-radius: .5em;
                padding: .5rem .8rem;
                cursor: pointer;
            }
            label:hover {
                transition: .4s;
                box-shadow: none;
                opacity: .8;
            }
            
            textarea {
                width: 100%;
                height: 90%;
                text-align: left;
                margin-top: 2rem;
                padding: 0 2rem 2rem 2rem;
                outline: none;
                resize: none;
            }
        }
        .view {
            overflow-wrap: anywhere;
            border: 2px $border_color solid;
            margin: 0;
            width: 48%;
            min-width: 400px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            .title-box {
                h1 {
                    padding: 0 2rem;
                }
            }
            .content-box {
                text-align: left;
            }
        }
    }
    .post-btn  {
        background-color: $accent_color;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
        border-radius: .5em;
        padding: .6rem 1rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
    .post-btn:hover {
        transition: .4s;
        box-shadow: none;
        opacity: .8;
    }
}
.sign-in {
    margin: 8rem 0 12rem 0;
    text-align: center;
    padding: 4rem 2rem;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    input {
        text-align: left;
        width: 18rem;
        padding: .5rem .8rem;
        margin-bottom: 1rem;
        border-radius: .5em;
        border: 2px solid $border_color;
        box-sizing: border-box;
    }
    input:focus {
        border: 2px solid $accent_color;
        z-index: 10;
        outline: 0;
    }
    input:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s !important;
    }
    button  {
        background-color: $accent_color;
        width: 8rem;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
        border-radius: .5em;
        padding: .6rem 1rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    button:hover {
        transition: .4s;
        box-shadow: none;
        opacity: .8;
    }
}
.tag-box {
    margin-top: 8rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .tags {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #ccc;
        border-radius: 4px;
        padding: 2rem;
        a {
            cursor: pointer;
            padding: .2rem .8rem;
            color: $sub_accent_color;
            border: $sub_accent_color 1px solid;
            margin: 1rem .5rem;
            border-radius: 3px;
        }
        a:hover {
            background-color: $sub_accent_color;
            color: white;
            transition: .4s;
        }
        a::after {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        font-family: Montserrat, "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    }
    .tag-box{
        width: 90%;
    }
    .article-edit {
        .support-tools {
            width: 90%;
        }
        .markdown {
            flex-direction: column;
            align-items: center;
            height: 100rem;
            .editor {
                margin-bottom: 4rem;
                textarea {
                    margin-top: 1rem;
                }
            }
            .view, .editor {
                height: 100%;
                min-width: 95%;
            }
        }
    }
    .view {
        width: 100%;
        margin: 0;
        .title-box {
            .thumbnail {
                height: 14rem;
            }
            h1 {
                padding: 0 2rem;
                margin-bottom: 2rem;
            }
        }
        .content-box {
            width: 90%;
            dl {
                dt{ 
                    width: 100%;
                    border-right: none;
                }
                dd {
                    width: 100%;
                }
            }
        }
    }
    
    header {
        display: inline;
        height: $mobile_header_height;
        .logo-box {
            display: block;
            margin-top: .8rem;
        }
        nav {
            height: calc($mobile_header_height - $icon_width - .8rem);
            display: flex;
            justify-content: center;
            flex-flow: wrap;
            button {
                height: auto;
                padding: 0 2rem;
            }
        }
    }
    .home-ex {
        padding: 8rem 0;
    }
    .home-blog, .home-work, .home-profile {
        .detail {
            margin-top: 2rem;
        }
    }
    .profile-box {
        text-align: center;
        margin-bottom: 4rem;
        img {
            margin-bottom: 2rem;
        }
        dt {
            margin-left: 0rem;
        }
        dd {
            margin-left: 8rem;
        }
    }
    .profile {
        .p-detail {
            width: 85%;
        }
        h3 {
            width: 85%;
            margin-right: auto;
            margin-left: auto;
        }
        .about {
            width: 100%;
        }
    }
    .article {
        width: 80%;
    }
    .cards {
        display: inline;
        width: 90%;
        .card {
            width: 100%;
            margin: 0.8rem 0;
        }
    }
    footer {
        height: 16rem;
        .logo-box {
            margin: 2rem 0;
        }
        .about {
            display: inline;
            margin-bottom: 2rem;
            a {
                margin: 0 1.6rem;
            }
        }
    }
}